#ProfilePicHolder{
    width: 40%;
    position: relative;
    margin: auto;
}

#SignUpProfilePicImg{
    height: 80px;
    width: 80px;
    border: 1.5px solid #f5f6fa;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;

    position: absolute;
    right: 0;
}